@model UrlShortener.Domain.Models.AboutMessage
<form asp-action="Edit" asp-controller="About">
    <div>
        <div class="form-group">
            <textarea cols="140" rows = "30" asp-for="Message" />@Model.Message</textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-outline-dark" />
        </div>
    </div>
</form>